---
import Card from '@components/Card.astro'
import type { BlogPost } from 'src/types'
import Layout from '../layouts/Layout.astro'
const posts = await Astro.glob<BlogPost>('./*.mdx')
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>CO<sub>2</sub> data <span class="text-gradient">blog</span></h1>
    <div>
      {
        posts.map(
          (post) =>
            post.url && (
              <Card href={post.url} title={post.frontmatter.title}>
                {post.frontmatter.description}
              </Card>
            )
        )
      }
    </div>
  </main>
</Layout>

<style>
  :root {
    --astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
  }

  h1 {
    margin: 2rem 0;
  }

  main {
    margin-inline: auto;
    padding: 1em;
    max-width: var(--page-width);
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .text-gradient {
    font-weight: 900;
    background-image: var(--astro-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    border-radius: 0.4rem;
    animation: pulse 4s ease-in-out infinite;
  }

  @keyframes pulse {
    0%,
    100% {
      background-position-y: 0%;
    }

    50% {
      background-position-y: 80%;
    }
  }
</style>
